<form [formGroup]="currentFrom" class="example-form">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="start center">
    <mat-form-field fxFlexFill class="example-full-width" appearance="fill">
      <mat-label> <mat-icon matPrefix>person</mat-icon>UserName</mat-label>
      <input
        type="text"
        matInput
        lang="en_US"
        formControlName="userName"
        [errorStateMatcher]="matcher"
        placeholder="nBahrami"
      />
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="userName?.errors?.['pattern']">
        <div *ngIf="hide">Please enter a valid userName address</div>
      </mat-error>
      <mat-error *ngIf="userNameFormControl.hasError('required')">
        <div *ngIf="hide">userName is <strong>required</strong></div>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field fxFlexFill class="example-full-width" appearance="fill">
      <mat-label>
        <mat-icon matPrefix>power_input</mat-icon> Password
      </mat-label>
      <input
        [type]="isType"
        matInput
        formControlName="password"
        [errorStateMatcher]="matcher"
      />
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error
        *ngIf="
          passwordFormControl.hasError('password') &&
          !passwordFormControl.hasError('required')
        "
      >
        Please enter a valid password address
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-icon
      mat-button
      class="icon"
      appHideEye
      (click)="visibility(isType)"
      [ngClass]="isColor ? 'green' : ''"
      class="mat-icon"
      >visibility</mat-icon
    >
  </div>
  <div class="btn">
    <button
      fxFlexFill
      mat-raised-button
      class="example-full-width"
      [ngClass]="!isMobile ? 'mobileMode' : 'example-full-width'"
      color="primary"
    >
      Sign in
    </button>
  </div>
</form>
