.home {
  width: 100%;
  height: auto 500%;
  .card {
    margin: 10% auto;
    width: 30%;
    border: 40px solid green;
    padding: 10px;
    border-radius: 20px;
  }
}

.menu {
  background-color: green;
  height: 50px;
  left: 10px;
}

.example-sidenav {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  width: 30%;
  padding: 10%;
  background-color: rgb(235, 230, 230);
}

.mat-drawer-content {
  height: 120%;
}
